/* Stylesheet for Experience Page */

.projectExamples {
    width: 90%;
    margin: 0 auto;
}

.projectBox {
    background: lavender;
    border: 1px solid #000000;
    float: left;
    margin: 10px;
    text-align: center;
    width: 31%;
    border-radius: 15px; /* Rounded corners for the container */
    overflow: hidden;    /* Ensures any overflowing content (like images) is cropped */
}

.projectBox h4.semester {
    background: #00008833; 
    color: #000000;
    padding: 15px;
}

.projectBox img {
    width: 100%;           /* Makes sure the image fills the container width */
    height: 200px;         /* Fixed height; adjust as needed */
    object-fit: cover;     /* Crops the image if it's too big, while preserving aspect ratio */
    margin-bottom: 20px;
}

.projectBox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #000000;
    background: #00008833;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
